node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Build
dist/
out-tsc/

# Cookies de test (créés par nos commandes curl)
cookies.txt

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
